<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <style>
      body{ 
        background-image : url(https://wallpapers.com/images/featured/x1yu28g8twzle26l.jpg);
        text-align: center;
      }
    </style>
</head>
<body>
    <div class="login">
        <h1>Salary prediction</h1>
    
         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="POST">
            <input type="text" name="rate" placeholder="experience years" required="required" />
            
    
    
            <button type="submit">predict Salary</button>
        </form>
    
       <br>
       <br>
       {{ prediction_text }}
    
     </div>
    
</body>
</html>
